<html>
    <head>
        <link rel="stylesheet" href="/static/style.css">
        <title>{{ title }}</title>
    </head>
    <body>
        Выберите действие / Select an action:
        <br>
        <input type="button" class="select" onclick="location.href='lmplot';" value="Построить график ток->время по логу / Render lmplot"><br>
        <input type="button" class="select" onclick="location.href='barplot';" value="Построить barplot по логам / Render barplot"><br>
        <input type="button" class="select" onclick="location.href='record';" value="Снять показания с коробки / Record box data"><br>
       <br><br>
    </body>
 </html>
