<html>
    <head>
        <link rel="stylesheet" href="/static/style.css">
        <title>{{ title }}</title>
    </head>
    <body>
        Выберите лог / Select a log:
        <form action="/lmplot" method="post">
            {% for item in items %}
                <br><label><input type="radio" name="log" value="{{ escape(item) }}">{{ escape(item.split('/')[-1]) }}</label>
            {% end %}
            <br>
            <input type="submit" class="select" value="Go!">
        </form>
    </body>
 </html>
