<html>
    <head>
        <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/checkboxes.css">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container bgcont center-block">
            <div class="row">
                <p class="bg-info">Выберите конфигурацию записи</p>
                <form action="record" method="POST" role="form" class="form-horizontal">
                    {% for device in devices %}
                    <p class="bg-warning">Доступные девайсы, подключенные к компьютеру:</p>
                    <div class="col-sm-12">
                        <div class="radio">
                            <label style="font-size: 2.5em">
                                <input type="radio" class="form-control" id="device" name="device" value="{{ escape(device) }}">
                                <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                                {{ escape(device) }}
                            </label>
                        </div>
                    </div>
                    {% end %}
                    <div class="form-group">
                        <label for="samples">Сколько метрик записывать. 500 в секунду. 30000 - 1 минута. 150000 - 5 минут</label>
                        <input type="text" class="form-control" id="samples" name="samples" placeholder="Samples">
                    </div>
                    <p class="bg-success">Дополнительные опции</p>
                    <div class="form-group">
                        <label for="prefix">Префикс лога, строка будет добавлена к начало к имени каждого лога. По-умолчанию Дата_Время</label>
                        <input type="text" class="form-control" id="prefix" name="prefix" placeholder="Prefix">
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default btn-lg">Go!</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
 </html>
