<html>
    {% include "navbar.html" %}
    <head>
        <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/checkboxes.css">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container bgcont center-block">
            <form action="" method="GET" role="form" class="form-horizontal">
                <label>Выберите действие</label>
                <div class="form-group">
                    <a class="btn btn-default btn-lg" href="record" role="button">Снять показания с коробки</a><br><br>

                    <a class="btn btn-default btn-lg" href="lmplot" role="button">Построить график ток->время по логу</a>
                    <a class="btn btn-default btn-lg" href="barplot" role="button">Сравнить графики (колонки) по нескольким логам</a><br><br>
    
                    <a class="btn btn-default btn-lg" href="plot" role="button">Посмотреть готовые графики</a><br><br>
        
                    <a class="btn btn-default btn-lg" href="merger" role="button">Залить логи в Лунапарк</a>
                </div>
            </form>
        </div>
    {% include "counter.html" %}
    </body>
</html>
