<html>
    {% include "navbar.html" %}
    <head>
        <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/checkboxes.css">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container bgcont center-block">
            <form action="plot" method="POST" role="form" class="form-horizontal">
                {% if len(plots) == 0 %}
                <fieldset disabled>
                {% end %}
                <div class="form-group">
                    <label for="plot">Выберите график, всего найдено графиков: {{ len(plots) }}</label>
                    <select class="form-control" name="plot">
                        {% if len(plots) == 0 %}
                            <option> Не найдены графики. Графики должны быть в директории plots относительно того места, откуда запускается volta-ui</option>
                        {% end %}
                        {% for plot in plots %}
                            <option name="plot" id="plot" value="{{ escape(plot) }}">{{ escape(plot) }}</option>
                        {% end %}
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg">Go!</button>
                </div>
            </form>
        </div>
    {% include "counter.html" %}
    </body>
 </html>
