<html>
    {% include "navbar.html" %}
    <head>
        <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/checkboxes.css">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container bgcont center-block">
            <div class="row">
                <h1 class="bg-info">Выберите график, всего найдено графиков: {{ len(plots) }}</h1>
                {% if len(plots) == 0 %}
                <p class="bg-warning">
                    Не найдены графики! <br>
                    Графики должны быть в директории plots относительно того места, откуда запускается volta-ui
                </p>
                {% end %}
                <form action="plot" method="POST" role="form" class="form-horizontal">
                    {% for plot in plots %}
                    <div class="col-sm-12">
                        <div class="radio">
                            <label style="font-size: 2.5em">
                                <input type="radio" class="form-control" id="plot" name="plot" value="{{ escape(plot) }}">
                                <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                                {{ escape(plot) }}
                            </label>
                        </div>
                    </div>
                    {% end %}
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default btn-lg">Go!</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    {% include "counter.html" %}
    </body>
 </html>
