<html>
    {% include "navbar.html" %}
    <head>
        <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/checkboxes.css">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container bgcont center-block">
            <div class="row">
                <h1 class="bg-info">Выберите конфигурацию записи</h1>
                <form action="record" method="POST" role="form">
                    <p class="bg-warning">Найдены девайсы, подключенные к компьютеру:</p>
                    {% for device in devices %}
                    <div class="col-sm-12">
                        <div class="radio">
                            <label style="font-size: 2.5em">
                                <input type="radio" class="form-control" id="device" name="device" value="{{ escape(device) }}">
                                <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                                {{ escape(device) }}
                            </label>
                        </div>
                    </div>
                    {% end %}
                    <div class="form-group">
                        <label for="samples">Сколько метрик записывать</label>
                        <input type="text" class="form-control" id="samples" name="samples" placeholder="Samples" aria-describedby="samples-helpblock">
                        <span id="samples-helpblock" class="help-block">500 в секунду. 30000 - 1 минута. 150000 - 5 минут</span>
                    </div>
                    <div class="form-group">
                        <label for="prefix">Префикс лога</label>
                        <input type="text" class="form-control" id="prefix" name="prefix" placeholder="Prefix" aria-describedby="prefix-helpblock">
                        <span id="prefix-helpblock" class="help-block">Строка-префикс будет добавлена в начало к имени каждого лога. По-умолчанию формат: "Дата_Время"</span>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default btn-lg">Go!</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    {% include "counter.html" %}
    </body>
 </html>
