<html>
    {% include "navbar.html" %}
    <head>
        <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/checkboxes.css">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <title>{{ title }}</title>
    </head>
    <body>
    <script type="text/javascript">
    window.interest = 0;
    function go(){
        samples = document.getElementById('samples').value;
        document.getElementById('button-go').style.display = "none"
        document.getElementById('progressbar').style.display = "block"
        if(interest != 100) {
            interest = interest + 100/(samples/500);
            document.getElementById('interest').innerHTML = Math.round(interest) + ' %';
            document.getElementById('progress').style.width = Math.round(interest) * 5 + 'px';
        }
        else {
            document.getElementById('interest').innerHTML = 'Загрузка завершена';
            document.getElementById('interest').style.margin = '15px 0 0 186px';
        }
    };
    </script>
        <div class="container bgcont center-block">
            <form action="record" method="POST" role="form">
                {% if len(devices) == 0 %}
                <fieldset disabled>
                <div class="form-group">
                    <p class="bg-warning">
                        Не найдены коробки. Подключите коробку по USB к компьютеру и установите
                        <a href="https://github.com/yandex-load/volta/tree/master/volta/drivers/ch341ser">драйвера</a>
                    </p>
                </div>
                {% end %}
                <div class="form-group">
                    <label for="device">Выберите устройство, с которого будут записываться данные (коробку)</label>
                    <select class="form-control" name="device">
                        {% if len(devices) == 0 %}
                            <option>Не найдены коробки. Подключите коробку по USB к компьютеру и установите 
                                    <a href="https://github.com/yandex-load/volta/tree/master/volta/drivers/ch341ser">драйвера</a>. 
                            </option>
                        {% end %}
                        {% for device in devices %}
                            <option value="{{ escape(device) }}" name="device" id="device">{{ escape(device) }}</option>
                        {% end %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="samples">Сколько метрик записывать</label>
                    <input type="text" class="form-control" id="samples" name="samples" placeholder="Samples" aria-describedby="samples-helpblock">
                    <span id="samples-helpblock" class="help-block">500 в секунду. 30000 - 1 минута. 150000 - 5 минут</span>
                </div>
                <div class="form-group">
                    <label for="prefix">Префикс лога</label>
                    <input type="text" class="form-control" id="prefix" name="prefix" placeholder="Prefix" aria-describedby="prefix-helpblock">
                    <span id="prefix-helpblock" class="help-block">Строка-префикс будет добавлена в начало к имени каждого лога. По-умолчанию формат: "Дата_Время"</span>
                </div>
                <div class="form-group" id="button-go">
                    <button type="submit" class="btn btn-primary btn-lg" onclick="setInterval(go, 1000)">Go!</button>
                </div>
                <!-- progressbar-->
                <div class="form-group" style="width: 500px; border: 1px solid #666; display:none" id="progressbar">
                    <center style="color: #666; position: absolute; margin: 15px 0 0 235px;" id="interest">0 %</center>
                    <img id="progress" style="width: 0; height: 50px;" src="/static/prog.jpg">
                </div>
            </form>
        </div>
    {% include "counter.html" %}
    </body>
 </html>
