<html>
    {% include "navbar.html" %}
    <head>
        <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/checkboxes.css">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container bgcont center-block">
            <form action="record" method="POST" role="form">
                {% if len(devices) == 0 %}
                <fieldset disabled>
                <div class="form-group">
                    <p class="bg-warning">
                        Не найдены коробки. Подключите коробку по USB к компьютеру и установите
                        <a href="https://github.com/yandex-load/volta/tree/master/volta/drivers/ch341ser">драйвера</a>
                    </p>
                </div>
                {% end %}
                <div class="form-group">
                    <label for="device">Выберите устройство, с которого будут записываться данные (коробку)</label>
                    <select class="form-control" name="device">
                        {% if len(devices) == 0 %}
                            <option>Не найдены коробки. Подключите коробку по USB к компьютеру и установите 
                                    <a href="https://github.com/yandex-load/volta/tree/master/volta/drivers/ch341ser">драйвера</a>. 
                            </option>
                        {% end %}
                        {% for device in devices %}
                            <option value="{{ escape(device) }}" name="device" id="device">{{ escape(device) }}</option>
                        {% end %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="samples">Сколько метрик записывать</label>
                    <input type="text" class="form-control" id="samples" name="samples" placeholder="Samples" aria-describedby="samples-helpblock">
                    <span id="samples-helpblock" class="help-block">500 в секунду. 30000 - 1 минута. 150000 - 5 минут</span>
                </div>
                <div class="form-group">
                    <label for="prefix">Префикс лога</label>
                    <input type="text" class="form-control" id="prefix" name="prefix" placeholder="Prefix" aria-describedby="prefix-helpblock">
                    <span id="prefix-helpblock" class="help-block">Строка-префикс будет добавлена в начало к имени каждого лога. По-умолчанию формат: "Дата_Время"</span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg">Go!</button>
                </div>
            </form>
        </div>
    {% include "counter.html" %}
    </body>
 </html>
